@tailwind components;
@tailwind utilities;

#__next,
html,
body {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}

.environment-select-wrapper
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select,
.environment-select-wrapper .css-qiwgdb.MuiSelect-select {
  padding: 0.4rem 1.7rem;
  padding-left: 0.8rem;
}

.environment-select-wrapper .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.environment-select-wrapper .css-igs3ac {
  border: none;
}
